body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    background-color: #5B0E7B;
}

#question {
    text-align: center;
    color: rgb(250, 237, 205);
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    font-size: 35px;
}

.answer {
    list-style-type: none;
    text-align: center;
    color: rgb(250, 237, 205);
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 20px;
}

#counters {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: rgb(250, 237, 205);
}
